/* ------------------Sample Styling */
body {
  background-color: lightgreen;
}

header {
  margin: 0;
  padding: 10px 0 10px 0;
  background: rgba(76, 175, 80, 0.1);
  max-height: 10vh;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.row {
  margin: 0;
  padding: 0;
}

.div-container-weather {
  max-width: 800px;
  padding: 25vh 0 25vh 0;
  border: none;
}

.div-weather-background {
/*   background-color: lightblue; */
  background-color:rgba(255,255,0,0.5);
}

/* --------------Search Bar Styling */
#div-search {
  margin-bottom: 10px
}
.navbar-fixed-bottom {
  margin-bottom: 25px;
}
/* ----------End Search Bar Styling */