/* ------------------Sample Styling */
body {
  background-image: url('../images/none1.jpg');
  background-size: cover;
  font-family: 'Raleway', sans-serif;
}

header {
  margin: 0;
  padding: 10px 0 10px 0;
  background: rgba(255, 255, 255, 0.3);
  max-height: 10vh;
  min-height: 100px;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.row {
  margin: 0;
  padding: 0;
}

#div-weather-container {
  padding: 10vh 0 25vh 0;
  border: none;
}

.div-weather-background {
/*   background-color: lightblue; */
  background-color:rgba(255,255,255,0.4);
}

/* --------------Search Bar Styling */
#div-search {
  margin-bottom: 10px
}
.navbar-fixed-bottom {
  margin-bottom: 25px;
}
/* ----------End Search Bar Styling */

#icon-current {
  font-size: 60px;
}

.icon-forecast {
  font-size: 48px;
}

.icon-humidity {
  font-size: 20px;
}

#icon-wind,
#icon-humidity {
  font-size: 20px;
}

#convert-switch {
  line-height: 2.42
}

.switch-call-type {
  border-radius: 6px;
  padding: 5px;
}

#toggle-forecast-weather {
  padding: 0px 10px 10px 0px;
}

.icon-mini-forecast {
  font-size: 24px;
}

#current-weather-city,
#forecast-city-name {
  border-bottom: 1px solid black;
  margin-bottom: 25px;
}

.glyphicon {
  font-size: 24px;
}
.span-blue {
  color: #0074D9;
}
.span-red {
  color: #FF4136;
}
.inline {
  display: inline;
}

/* table header size */
.th-size {
  font-size: 18px;
}

.button-saved {
  margin-top: 8px;
  border-radius: 6px;
}





/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
.show {
  visibility: visible !important; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}