/* ------------------Sample Styling */
body {
  background-color: lightgreen;
}

header {
  margin: 0;
  padding: 10px 0 10px 0;
  background: rgba(76, 175, 80, 0.1);
  max-height: 10vh;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

/* --------------Search Bar Styling */
#div-search {
  margin-bottom: 10px
}
.navbar-fixed-bottom {
  margin-bottom: 25px;
}
/* ----------End Search Bar Styling */